@import '../reset.scss';
@import "../variables.scss";

.container {

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.edit {

    width: 40%;
    margin: 0px auto;
    height: 70vh;
    box-shadow: 0px 0px 10px $box-shadow-1;
    border-radius: 4px;
    font-family: $font-main;


    &__box {

        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid $border-color-light;

        &--heading {

            border-left: 3px solid purple;
            padding-left: 20px;
            font-size: 18px;
            border-radius: 3px;
            text-transform: capitalize;
            line-height: 25px;
    
    
        }
    }
    
    &__formbox {

        width: 95%;
        height: 90%;
        margin: 0px auto;
        margin-top: 30px;
        position: relative;

        &--end {

            position: absolute;
            bottom: 80px;
            right: 10px;
            font-size: 13px;
            color: $basic-link-color;

        }

        &__delete {

            &--button {

                position: absolute;
                bottom: 80px;
                left: 90px;
                padding: 6px 17px;
                border: 2px solid $border-color-light;
                border-radius: 3px;
                transition: $basic-transition;

                &:hover {

                    box-shadow:0px 0px 10px $box-shadow-1;
                    cursor: pointer;

                }

            }

        }


        &__form {

            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

                
                &--label {

                    margin: 20px 0px;

                }

                &--input {

                    width: 90%;
                    border: none;
                    border-bottom: 2px solid $border-color-light;
                    background-color: transparent;
                    transition: 400ms ease-in-out all;
                    font-size: 14px;
                    color: $basic-link-color;
        
                    &:focus {
                        color: $color-black;
                        outline: none;
                        border: none;
                        border-bottom: 2px solid rgb(28, 28, 28);
                        
                    }
        
                    &::placeholder {
                        color: rgb(106, 106, 106);
                    }
    
                }


                &--button {

                    position: absolute;
                    bottom: 80px;
                    left: 0px;
                    padding: 6px 17px;
                    border: 2px solid $border-color-light;
                    border-radius: 3px;
                    transition: $basic-transition;

                    &:hover {

                        box-shadow:0px 0px 10px $box-shadow-1;
                        cursor: pointer;

                    }
                }

            }

        }

    }

    @media screen and (max-width: 426px) {
        
        .edit {

            width: 90%;
            height: 60%;

        }

        .edit__formbox--end {

            bottom: 150px;
            left: 0px;

        }

      }